<div class="login">
  <div class="ui grid container" style="margin-top:2rem;">
    <div class="column">
      <a>
        <img class="large" src="/../../assets/coda-gray.png" style="height:65px;">
      </a>

    </div>

  </div>
  <div class="ui stackable centered grid container tablet mobile only">
    <div class="eight wide column">
      <div class="ui fluid card">
        <div class="content">
          <form class="ui form" (ngSubmit)="login()" [(formGroup)]="loginForm" autocomplete="off" method="POST">
            <div class="field">
              <label>Email Id</label>
              <div class="ui right labeled input">
                <input type="text" placeholder="Email id" formControlName="emailid" (keyup)="checkLength()">
                <div class="ui dropdown label">
                  <div class="text">@coda.global</div>

                </div>
              </div>
            </div>

            <p style="color:red;font-size:12px;" [hidden]="loginForm.controls.emailid.valid || loginForm.controls.emailid.untouched">

              Email id cannot be empty

            </p>
            <button class="ui right floated labeled icon button" style="background-color:#f62d89;color:#ffffff;" (click)="checkFirstLogin()"
              [disabled]="isDisabled" *ngIf="hideNext">
              <i class="right arrow icon"></i>
              Next
            </button>
            <div *ngIf="firstLogin == false">
              <div class="field">
                <div class="two fields">

                  <div class="field">
                    <button class="ui icon button" style="margin-top:4.5rem;" (click)="previousAvatar()">
                      <i class="left arrow icon"></i>
                    </button>
                    <div class="ui people shape">
                      <div class="sides">
                        <div class="1 side active">
                          <div class="ui card" style="background:none;height:120px;width:120px;">
                            <div class="image" style="background:none;height:120px;width:120px;padding:0.5rem;">
                              <img src="../../assets/avatar/1.png">
                            </div>
                          </div>
                        </div>
                        <div *ngFor="let avatar of avatarArray">
                          <div class="{{avatar}} side">
                            <div class="ui card" style="background:none;height:120px;width:120px;">
                              <div class="image" style="background:none;height:120px;width:120px;padding:0.5rem;">
                                <img src="../../assets/avatar/{{avatar}}.png">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <button class="ui icon button" style="margin-top:4.5rem;margin-left:0.5rem;" (click)="nextAvatar()">
                      <i class="right arrow icon"></i>
                    </button>

                  </div>
                  <div class="field">
                    <div class="column row" style="margin-top:0.4rem;">
                      <input type="text" formControlName="firstName" placeholder="First Name" (keyup)="validateRegister()">
                      <div *ngIf="firstLogin == false" class="ui negative message" [hidden]="loginForm.controls.firstName.valid || loginForm.controls.firstName.untouched">
                        <p>FirstName cannot be empty
                        </p>
                      </div>
                    </div>

                    <div class="column row" style="margin-top:1.7rem;">
                      <input type="text" formControlName="lastName" placeholder="Last Name" (keyup)="validateRegister()">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="two fields">
                </div>
              </div>
              <div class="field">
                <div class="two fields">
                  <div class="field">
                    <div class="ui labeled input">
                      <label for="mobile" class="ui label">+91</label>
                      <input type="text" placeholder="Mobile Number" formControlName="mobileNumber" id="mobile" pattern="[6|7|8|9]{1}[0-9]{9}"
                        (keyup)="validateRegister()">
                    </div>
                    <div *ngIf="firstLogin == false" class="ui negative message" [hidden]="loginForm.controls.mobileNumber.valid || loginForm.controls.mobileNumber.untouched">
                      <p>Mobile Number is invalid
                      </p>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui input">
                      <input type="text" placeholder="PIN (4 digits)" formControlName="pin" pattern="[0-9]{4}" (keyup)="validateRegister()">

                    </div>
                    <div *ngIf="firstLogin == false" class="ui negative message" [hidden]="loginForm.controls.pin.valid || loginForm.controls.pin.untouched">
                      <p>Pin is invalid
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="two fields">
                  <div class="field">
                    <input type="password" placeholder="Password (Minimum 8 chars)" formControlName="registerPassword" (keyup)="validateRegister()">
                    <div *ngIf="firstLogin == false" class="ui negative message" [hidden]="loginForm.controls.registerPassword.valid || loginForm.controls.registerPassword.untouched">
                      <p>Password Invalid minimum 8 characters
                      </p>
                    </div>
                  </div>
                  <div class="field">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" (keyup)="checkPassword();validateRegister()">
                   
                    <div *ngIf="firstLogin == false" class="ui negative message" [hidden]="passwordMismatch">
                      <p>Password mismatch
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="ui right floated labeled icon button" style="background-color:#f62d89;color:#ffffff;" (click)="register()"
                [disabled]="isDisabled==true" *ngIf="firstLogin == false">
                <i class="right arrow icon"></i>
                Register
              </button>
            </div>

            <div *ngIf="showLogin">
              <div class="field" *ngIf="firstLogin == true">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="Password" formControlName="password">
              </div>
              <div *ngIf="firstLogin == true" class="ui negative message" [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched">

                <p>Password Invalid minimum 8 characters
                </p>
              </div>
              <a (click)="forgotPassword()" *ngIf="firstLogin">

                Forgot Password
              </a>
              <button type="submit" class="ui right floated labeled icon button" style="background-color:#f62d89;color:#ffffff;" (click)="login()"
                [disabled]="isDisabled" *ngIf="firstLogin">
                <i class="right arrow icon"></i>
                Login
              </button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="ui grid container computer only" style="margin-top:4rem;">
    <div class="eight wide column ">
      <div class="ui text shape1">
        <div class="sides">
          <div class="active ui side" style="width:100%;height:100%">
            <h1 style="width:500px;height:50px">Feeling Hungry?</h1>
          </div>
          <!-- <div class="ui  side" style="width:100%;height:100%">
            <h1 style="width:500px;height:50px">Too busy to wait </h1>
          </div>
          <div class="ui  side" style="width:100%;height:100%">
            <h1 style="width:500px;height:50px">Order, eat and enjoy!</h1>
          </div> -->
        </div>
      </div>
      <div class="text-container" style="color:rgba(255,255,255,.7);font-size:1.4rem;">
        "Eat something great every day!"
      </div>
      <div class="ui container" style="margin-top:5rem;">
        <img class="ui fluid image" src="../../../assets/cafeteria.png">
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui fluid card">
        <div class="content">
          <div class="ui negative message" *ngIf="error">

            <p>Invalid Email/Password
            </p>
          </div>
          <form class="ui form" [(formGroup)]="loginForm" autocomplete="off" method="POST">
            <div class="field">
              <label>Email Id</label>
              <div class="ui right labeled input">
                <input type="text" placeholder="Email id" formControlName="emailid" (keyup)="checkLength()">
                <div class="ui  dropdown label">
                  <div class="text">@coda.global</div>
                </div>
              </div>
              <p class="error" [hidden]="loginForm.controls.emailid.valid || loginForm.controls.emailid.untouched">

                Email id cannot be empty

              </p>
            </div>

            <button class="ui right floated labeled icon button" style="background-color:#f62d89;color:#ffffff;" (click)="checkFirstLogin()"
              [disabled]="isDisabled" *ngIf="hideNext">
              <i class="right arrow icon"></i>
              Next
            </button>
            <div *ngIf="firstLogin == false">
              <div class="field">
                <div class="two fields">

                  <div class="field">
                    <button class="ui icon button" style="margin-top:4.5rem;" (click)="previousAvatar()">
                      <i class="left arrow icon"></i>
                    </button>
                    <div class="ui people shape">
                      <div class="sides">                       
                        <div>
                          <div class="side active">
                            <div class="ui card" style="background:none;height:120px;width:120px;">
                              <div class="image" style="background:none;height:120px;width:120px;padding:0.5rem;">
                                <img src="../../assets/avatar/{{avatarCounter}}.png">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="ui icon button" style="margin-top:4.5rem;margin-left:0.3rem;" (click)="nextAvatar()">
                      <i class="right arrow icon"></i>
                    </button>

                  </div>
                  <div class="field">
                    <div class="column row" style="margin-top:0.4rem;">
                      <input type="text" formControlName="firstName" placeholder="First Name" (keyup)="validateRegister()">
                      <p class="error" *ngIf="firstLogin == false" [hidden]="loginForm.controls.firstName.valid || loginForm.controls.firstName.untouched">
                        FirstName cannot be empty
                      </p>
                    </div>

                    <div class="column row" style="margin-top:1.7rem;">
                      <input type="text" formControlName="lastName" placeholder="Last Name" (keyup)="validateRegister()">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="two fields">
                </div>
              </div>
              <div class="field">
                <div class="two fields">
                  <div class="field">
                    <div class="ui labeled input">
                      <label for="mobileNumber" class="ui label">+91</label>
                      <input type="text" placeholder="Mobile Number" formControlName="mobileNumber" id="mobileNumber" pattern="[6|7|8|9]{1}[0-9]{9}"
                        (keyup)="validateRegister()">
                    </div>
                    <p class="error" *ngIf="firstLogin == false" [hidden]="loginForm.controls.mobileNumber.valid || loginForm.controls.mobileNumber.untouched">
                      Mobile number should be valid
                    </p>
                  </div>
                  <div class="field">
                    <div class="ui input">
                      <input type="text" placeholder="PIN (4 digits)" id="pin" formControlName="pin" pattern="[0-9]{4}" (keyup)="validateRegister()">

                    </div>
                    <p class="error" *ngIf="firstLogin == false" [hidden]="loginForm.controls.pin.valid || loginForm.controls.pin.untouched">
                      Pin is invalid
                    </p>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="two fields">
                  <div class="field">
                    <input type="password" placeholder="Password (Minimum 8 chars)" formControlName="registerPassword" (keyup)="validateRegister()">
                    <p class="error" *ngIf="firstLogin == false" [hidden]="loginForm.controls.registerPassword.valid || loginForm.controls.registerPassword.untouched">
                      Password Invalid minimum 8 characters

                    </p>
                  </div>
                  <div class="field">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" (keyup)="checkPassword();validateRegister()">
                    <p class="error" *ngIf="firstLogin == false" [hidden]="passwordMismatch">
                      Password mismatch
                    </p>
                  </div>
                </div>
              </div>
              <button class="ui right floated labeled icon button" style="background-color:#f62d89;color:#ffffff;" (click)="register()"
                [disabled]="isDisabled==true" *ngIf="firstLogin == false">
                <i class="right arrow icon"></i>
                Register
              </button>
            </div>
            <div *ngIf="showLogin">
              <div class="field" *ngIf="firstLogin == true">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="Password" formControlName="password">
                <p class="error" *ngIf="firstLogin == true" [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched">
                Password Invalid minimum 8 characters

                </p>
              </div>

              <a (click)="forgotPassword()" *ngIf="firstLogin">

                Forgot Password
              </a>
              <button type="submit" class="ui right floated labeled icon button" style="background-color:#f62d89;color:#ffffff;" (click)="login()"
                [disabled]="isDisabled" *ngIf="firstLogin">
                <i class="right arrow icon"></i>
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>